body {
    box-sizing: border-box;
    margin: 0px;
    max-width: auto;
}

.header-page {
    background-color: rgb(219, 53, 53);
    padding: 20px;
    text-align: center;
    font-size: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0px 0px;
    border: 2px solid red;
    /* min-width: 1000px; */

}

@media screen and (max-width:320px) {
    .header-page {
        min-width: 700px;
    }
}
@media screen and (max-width:426px) {
    .header-page {
        min-width: 700px;
    }
}


.header-text {
    margin-left: 5px;
    font-size: 25px;
}

.globe-img {
    /* background-color: red; */
    color: white;
    width: 30px;
    border-radius: 50%;
}

.map-img {
    width: 25px;
    height: 20px;
}

.travel-location {
    display: flex;
    text-align: center;
}

.location-img {
    width: 250px;
    border-radius: 7px;
    box-shadow: 0px 2px 5px black;
}

.location-img:hover {
    width: 252px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.travels {
    display: flex;
    width: 700px;
    margin: 50px auto;
}

.gray {
    color: rgb(81, 81, 81);
    padding-right: 10px;
}

.underline {
    color: rgb(168, 167, 167);
    ;
    text-decoration: underline;
}

.travels-element {
    margin-left: 20px;
}

h4 {
    margin-bottom: 15px;
}